
* { /* Use border-box sizing instead of content-box sizing */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

div{
    border-color: black;
}

/* Top Bar: The bar at the top which contains the logo and some buttons */
#top_bar{
    position: absolute;
    top: 0;
    height: 5%;
    left: 0;
    right: 0;
    background-color: #E8B920;	/*goldy-yellow*/
}
    #logo{
    	position: absolute;
	border-radius: 10px;
    	top: 10%;
    	height: 40px;
   	width: 40px;
    	left: 2%;
    	background-color: #B819E3;  /*light purple*/
    }
    
    #tool_tab{
    	position: absolute;
	border-radius: 10px;
    	top: 10%;
    	height: 80%;
   	width: 5%;
    	left: 15%;
    	background-color: #B819E3;  /*light purple*/
    }
    
    #shape_tab{
    	position: absolute;
	border-radius: 10px;
    	top: 10%;
    	height: 80%;
   	width: 5%;
    	left: 21%;
    	background-color: #B819E3;  /*light purple*/
    }

    #select_tab{
    	position: absolute;
	border-radius: 10px;
    	top: 10%;
    	height: 80%;
   	width: 5%;
    	left: 27%;
    	background-color: #B819E3;  /*light purple*/
    }

    #text_tab{
    	position: absolute;
	border-radius: 10px;
    	top: 10%;
    	height: 80%;
   	width: 5%;
    	left: 33%;
    	background-color: #B819E3;  /*light purple*/
    }

    #image_tab{
    	position: absolute;
	border-radius: 10px;
    	top: 10%;
    	height: 80%;
   	width: 5%;
    	left: 39%;
    	background-color: #B819E3;  /*light purple*/
    }

#main_area{
    position: absolute;
    top: 5%;
    left: 0;
    height: 95%;
    width: 100%;
    background-color: #3D0854;  /*dark purple*/
}
    
    #download{
	position: absolute;
	border-radius: 10px;
    	top: 2%;
    	left: 2%;
    	height: 5%;
    	width: 11%;
    	background-color: #B819E3;  /*light purple*/
    }

    #tools_menu{
	position: absolute;
	border-radius: 10px;
    	top: 9%;
    	left: 2%;
    	height: 40%;
    	width: 11%;
    	background-color: #B819E3;  /*light purple*/
    }

    #sliders_menu{
	position: absolute;
	border-radius: 10px;
    	top: 51%;
    	left: 2%;
    	height: 30%;
    	width: 11%;
    	background-color: #B819E3;  /*light purple*/
    }

    #canvas{
    	position: absolute;
	border-radius: 10px;
    	top: 2%;
    	left: 15%;
    	right: 15%;
    	height: 96%;
    	background-color: white;
    }
    #user_pane{
	position: absolute;
	border-radius: 10px;
	top: 2%;
        right: 2%;
	height: 20%;
	width: 11%;
        background-color: #B819E3;  /*light purple*/
    }

    #chat_pane{
    	position: absolute;
	border-radius: 10px;
    	top: 24%;
    	right: 2%;
    	height: 60%;
	width: 11%;
	background-color: white;
    }

    #chat_pane_content_box{
    	position: absolute;
    	top: 0;
    	left: 0;
    	right: 0;
    	bottom: 5%;
    	overflow-y: scroll;
    	background-color: white;
}
    #chat_pane_message_box{
    	position: absolute;
    	left: 0;
    	right: 8%;
    	bottom: 0;
    	height: 4%;
    	background-color: white;
}
    #chat_pane_message_button{
	position: absolute;
    	left: 90%;
    	right: 0;
    	bottom: 0;
    	height: 4%;
    	background-color: white;
    }

    #chat_pane_message_box #textbox{
    	width: 80%;
}

